.dashboard-container{
    display: flex;
    margin-right: 43px;
}

.dashboard-content{
    width: 70%;
    margin-left: 67px;
    margin-top: 71px;
    margin-right: 10px;
}

.dashboard-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-and-search{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search{
    margin-right: 13.79px;
    width: 197.6px;
    height: 32.93px;
}

.search #search-icon{
    position: absolute;
    /* padding: 10px; */
    left: calc(100% * 0.90);
    margin-top: 7px;
    color: #858585;
    cursor: pointer;
}

#search{
    background-color: #fff;
    border: 1px solid #fff;
    color: #858585;
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    outline: none;
    padding: 6px 15px;
    border-radius: 10px;
}

#profile-photo{
    border-radius: 50%;
    margin-left: 27px;
}

#bell{
    color: #000;
}

.foot-items{
    display: flex;
    width: 100%;
    height: 256px;
    justify-content: space-between;
    gap: 40px;
    margin-top: 38.67px;
    margin-bottom: 38.67px;
}

#profile-card, #donut-chart{
    height: 100%;
    width: 50%;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.10);
}

.profile-card1{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.add-icon{
    width: 76.78px;
    height: 76.78px;
    background-color: #f5f5f5;
    border-radius: 50%;
    border: 1px solid #f2f2f2;
    font-size: 51.19px;
    color: #999ca0;
    cursor: pointer;
}

#add-profile-text{
    font-size: 16px;
    font-family: Figtree;
    font-weight: 600;
    line-height: 24px;
    color: #858585;
    text-align: center;
}

.user-data{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.user-name{
    font-family: Figtree;
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    color: #000;
}

.user-socials{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.social-container, .inner-social-container{
    gap: 12px;
    display: flex;
}

.social-container{
    align-items: center;
    margin-right: 40px;
}

.inner-social-container{
    justify-content: space-between;
}

#whatsapp, #instagram1, #mail, #youtube1{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#whatsapp{
    color: #3cc952;
    background-color: #e9f9eb;
}

#instagram1{
    background-color: #ffe9ec;
    color: #ff4e64;
}

#mail{
    background-color: #ebe6f9;
    color: #5c33cf;
}

#youtube1{
    background-color: #ffe9e9;
    color: #ff0000;
}

.social-container p{
    font-family: Figtree;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: underline;
    color: #000;
}


/* Responsive design start */

@media (max-width: 1430px){
    .foot-items{
        gap: 30px;
    }

    #profile-card, #donut-chart{
        width: 100%;
    }

    .search #search-icon{
        left: calc(100vw * 0.88);
    }
}

@media (max-width: 1400px){
    .dashboard-content{
        margin-left: 30px;
    }

    .foot-items{
       gap: 10px;
    }
}

@media (max-width: 1310px){
    .foot-items{
        flex-direction: column;
        height: 50%;
        align-items: center;
    }

    #profile-card, #donut-chart{
        height: 100%;
        width: 80%;
    }

    .search #search-icon{
        left: 87%;
    }
}

@media (max-width: 1250px){
    .search #search-icon{
        left: 85%;
    }
}

@media (max-width: 1000px){
    .search #search-icon{
        left: 83%;
    }
}

/* Responsive design end */